<a href="https://goclub.run/" style="display:none;" id="linkgoclub">
    <i class="fa fa-google" aria-hidden="true"></i>
    goclub.run
</a>
<a href="https://2type.cn/" style="display:none;" id="link2type">
    <i class="fa fa-television" aria-hidden="true"></i>
    2type.cn
</a>
<a href="https://nimo.run/" style="display:none;" id="linknimo">
    🌐
    nimo.run
</a>
<a href="https://space.bilibili.com/252027563/" style="display:none;" id="linkbilibili">
    📽️
    哔哩哔哩
</a>
<a href="https://www.zhihu.com/people/nimoc"style="display:none;" id="linkzhihu">
    <i class="fa fa-quora"></i>
    知乎
</a>

<script type="text/javascript">
    var showSocialContact = false
    if (/goclub\.run/.test(location.host)) {
        linkgoclub.style.display = "block"
        showSocialContact = true
    }
    if (/2type\.run/.test(location.host)) {
        link2type.style.display = "block"
        showSocialContact = true
    }
    if (/nimo\.run/.test(location.host)) {
        linknimo.style.display = "block"
        showSocialContact = true
    }
    if (showSocialContact) {
        linkbilibili.style.display = "block"
        linkzhihu.style.display = "block"
    }
</script>
