<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/font-awesome.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/markdown/gitbook-azure.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/var.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/page.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<div class="app">
    <div class="header">
        <div class="header-title">{{ site.title }}</div>
        <div class="header-nav">
            {% include HEADER_LINKS.html %}
        </div>
    </div>
    <div class="nav" id="nav">
        <div class="nav-switch" id="nav-switch">
            <i class="nav-switch-menu fa fa-list"></i>
        </div>
        <div class="nav-content">
            {% include SUMMARY.html %}
        </div>
        <div class="nav-copyright">
            <div class="nav-copyright-item">
                <a href="{{ site.github.repository_url }}" target="_blank">
                    <span class="fa fa-github nav-copyright-icon"></span>
                    <span id ="repository_nwo"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="markdown-body" id="markdown-body">
            {{ content }}
        </div>
        <div class="footer">
            {% include FOOTER.html %}
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.nimo.run/@highlightjs/cdn-assets@11.1.0/styles/base16/solarized-light.min.css">
<script src="https://unpkg.nimo.run/@highlightjs/cdn-assets@11.1.0/highlight.min.js"></script>
<script>
    window.GithubRepoURL = ""
        window.GithubRepoURL = "{{ site.github.repository_url }}"
    window.GithubRepoNwo = ""
    window.GithubRepoNwo = GithubRepoURL.replace("https://github.com/", "")
    document.getElementById("repository_nwo").innerText = GithubRepoNwo
    window.GithubBranch  = "main"
    window.GithubBranch = "{{ site.github.source.branch }}"
    window.PageSidebarBasedOnContent = !!"{{page.sidebarBasedOnContent}}"

    if (GithubBranch === "gh-pages") {
        GithubBranch = "main"
    }
    window.PagePath = "{{page.path}}"
</script>
<script src="{{ '/assets/page.js?v=' | append: site.github.build_revision | relative_url }}" ></script>
</body>
</html>